RewriteEngine  on

# url without extension
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

# subfolder redirect
RewriteRule ^(management|views|reports|settings|account)/(.*)$ pages/$1/$2 [L]